.introducao-bg {
    background-color: #404040;
    max-width: 100%;
}

.introducao {
    padding: 100px 20px 20px;
}

.introducao h1 {
    font-size: 3rem;
    margin: 7% 0;
    
    text-align: center;
    color: #0077b6;
}

.introducao h2 {
    font-size: 2rem;
    margin-bottom: 3px;
    text-align: center;
    color: #0077b6;
}

.introducao p {
    max-width: 100ch;
    margin: 0 auto 30px auto;
    color: #ffffff;
    text-align: center;
}

.tech-item {
    text-align: center;
}

.tech-item img {
    display: block;
    margin: 0;
}


.minhas-redes{
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 800px) {
    .introducao h1 {
        font-size: 2.3rem;
        text-align: start;
    }

}

@media (max-width: 400px) {
    .introducao h1 {
        font-size: 1.5rem;
    }

    .minhas-redes {
        justify-content: left;
    }
}