.introducao-bg {
    background-color: #404040;
    margin-top: 2rem;
}

.introducao {
    padding: 60px 20px 20px;
}


.introducao h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-align: center;
    color: #0077b6;
}

.introducao p {
    max-width: 70ch;
    margin: 0 auto 30px auto;
    color: #F2F2F2;
}

.introducao2 p {
    justify-content: flex-end;
    max-width: 70ch;
    margin: 0 auto 30px auto;
    color: #F2F2F2;
}


.minhas-redes{
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 800px) {
    .introducao h1 {
        font-size: 2.3rem;
        text-align: start;
    }

}

@media (max-width: 400px) {
    .introducao h1 {
        font-size: 1.5rem;
    }

    .minhas-redes {
        justify-content: left;
    }
}